@import 'variables';
@import 'fonts';

.page-transition {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: inherit;
    height: 100vh;
}

.hero-intro {
    color: var(--colors-white);
    margin-inline: -20px;
    height: 100vh;
}

@media (min-width:976px) {
    .hero-intro {
        // height: 75vh;
    }
}

.hero-intro__page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: var(--colors-white);
    color: var(--colors-black);
    line-height: 1.5;
    color: #3E3E3E;
}

.facts__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 100%;
    flex-shrink: 0;
    padding: 0 20px 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--colors-white);
    text-align: center;
}

@media (min-width:976px) {
}

.facts__section-content {
    max-width: 970px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:976px) {
    .facts__content-text {
        font-size: var(--text-lead);
        max-width: 20ch;
        display: block;
        grid-area: 2 / 3;
    }
}

.facts__content-title {
    font-size: 3.125rem;
    margin-bottom: 1em;
}

.facts__section h2 {
    margin-bottom: 2rem;
    margin-top: 0;
    font-size: 1.75rem;
}

.about {
    padding: 0;
}

@media (min-width:976px) {
    .about-content {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100vh;
        display: flex;
        padding: 0;
    }
}

.about-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-bottom: 0.5em;
    color: inherit;
    text-transform: uppercase;
}

.about-content > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    max-width: 830px;
}

.founder__content > div {
    max-width: 830px;
    display: flex;
    gap: 60px;
}

.about-content > div > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    color: inherit;
}

.content-wrapper {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-wrapper {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width:976px) {
    .blog-post,
    .blog-posts,
    .content-wrapper {
        max-width: 1020px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        text-align: left;
    }
}

.about-image {
    height: auto;
    max-width: 100%;
    width: 376px;
    border-radius: 5px;
}

.portfolio__link {
    display: block;
    text-align: center;
    padding: 2em;
    position: relative;
    border-radius: 5px;
    color: var(--colors-white);
    text-decoration: none;
    transition: background-color .3s ease-in-out;

    h3 {
        transition: transform .3s ease-in-out;
    }

    &:after {
        content: '';
        z-index: -1;
        background-image: linear-gradient(238deg, rgb(0, 226, 138) 0%, rgb(134, 134, 252) 100%);
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
        border-radius: 5px;
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }

    &:hover {
        background-color: var(--colors-black);

        h3 {
            transform: scale(1.2) rotate(10deg);
        }

        &:after {
            opacity: 1;
        }
    }
}

.nav__list {
    list-style-type: none;
    left: -30px;
    padding-left: 0;
    color: #C4C4C4;
}

.nav__button {
    position: relative;
    transition: background-color .3s ease-in-out;
    width: 15px;
    height: 15px;
    margin-top: 3em;
    margin-bottom: 3em;
    display: block;
    left: -9px;
    border-radius: 50%;
    z-index: 50;
    color: inherit;
    background-color: currentColor;

    &:before {
        content: '';
        border: 1px solid currentColor;
        position: absolute;
        top: -3px;
        left: -3px;
        right: -3px;
        bottom: -3px;
        border-radius: 50%;
        transform: scale(.5);
        transition: transform .75s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    &.active:before {
        transform: scale(1);
    }
}

.nav {
    display: none;
}

@media (min-width:976px) {
    .nav {
        margin-left: 50px;
        position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
        display: block;
    }
}

.nav__list > li {
    position: relative;
    color: #C4C4C4;
}

.nav__list > li:before {
    opacity: 0;
    content: '';
    height: 30px;
    border-left: 1px solid currentColor;
    position: absolute;
    bottom: 1.5em;
    left: -2px;
    transition: border .3s ease-in-out, opacity 1s ease-out;
}

.nav.animation-complete .nav__list > li:before {
    opacity: 1;
}

.nav__list > li:has(.previous):before,
.nav__list > li:has(.active):before {
    color: #00E28A;
}

.nav__list > li:first-child:before {
    display: none;
}

.nav__button:hover {
    span {
        text-decoration: underline;
    }
}

.nav__button.previous span {
    color: #c4c4c4;
}

.nav__button.active {
    color: #00E28A;
    background-color: #00E28A;
}

.nav__button:hover {
    span {
        text-decoration: underline;
    }
}

.faq__list {
    padding-left: 0;
    list-style-type: none;
}

.faq__faq-item {
    border-top: 1px solid #a6a6a6;
}

.faq__button {
    appearance: none;
    background: none;
    text-align: left;
    border: none;
    position: relative;
    padding: 1em 80px 1em 0;
    overflow: hidden;
    color: var(--colors-black);
}

.faq__button-chevron {
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    svg {
        transition: transform .3s ease-in-out;
    }
}

.footer {
    background: var(--colors-black);
    color: var(--colors-white);
}

.faq__list-content {
    overflow: hidden;
    padding-right: 80px;
}

.faq__button.dropdown-active svg {
    transform: rotate(180deg);
}

.intro__logo {
    display: none;
}

@media (min-width: 976px) {
    .intro__logo {
        display: block;
    }

    .intro__logo--mobile {
        display: none;
    }
}

.dropdown-active {
    font-weight: bolder;
}

.footer__links {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform .3s ease-in-out;
    background: var(--colors-black);
    padding: 20px 30px 20px;
    margin-left: 0;
    margin-right: 0;
}

.footer-container {
    padding: 50px 20px 10px;
}

@media (min-width:976px) {
    .footer-container {
        display: flex;
        max-width: 1102px;
        margin-left: auto;
        margin-right: auto;
        column-gap: 50px;
        padding: 2em 0;
    }

    .footer__links {
        display: grid;
        column-gap: 50px;
        position: static;
        transform: translateY(0);
        padding: 0;
        margin-bottom: auto;
        grid-template-columns: repeat(2, auto);
    }
}

.footer__link {
    color: var(--colors-white);
    text-decoration: none;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: .5em 0;
}

footer:before {
    background-image: linear-gradient(90deg, rgb(0, 226, 138) 0%, rgb(10, 69, 176) 40%, rgb(0, 226, 138) 50%, rgb(10, 69, 176) 100%);
    height: 1px;
    content: '';
    display: block;
    background-size: 300%;
    animation: blend-gradient 10s linear infinite;
}

@keyframes blend-gradient {
    0% {
        background-position: 100% 0%
    }

    100% {
        background-position: 0% 100%
    }
}

.hero-intro__page h1 {
    overflow: hidden;
    font-size: 2.1875rem;
    max-width: 880px;
    position: relative;
    color: var(--colors-white);
}

@media (min-width:976px) {
    .hero-intro__page h1 {
        font-size: 3.75rem;
    }
}

.hero-intro__blob {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: var(--colors-black);
    clip-path: circle(50px at 50% 110%);
}

.hero-intro--page-two {
    background-color: var(--colors-black);
}

.immigrant-section .facts__section-subtitle {
    font-family: $font-title;
    font-size: 4.375rem;
    margin-bottom: 0;
    margin-top: 0;
    display: block;
}

@media (min-width:976px) {
    .immigrant-section .facts__section-subtitle {
        display: flex;
        align-items: center;
        color: var(--colors-black);
        line-height: 1;
    }

    .immigrant-section .facts__section-body-content {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 0;
        text-align: left;
    }
}

.facts-section-line {
    display: none;
}

@media (min-width:976px) {
    .facts-section-line {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        z-index: 9999;
    }
}

.immigrant-section__lessthan {
    display: none;
}

@media (min-width:976px) {
    .immigrant-section__lessthan {
        color: #767373;
        font-size: 6.25rem;
        font-family: $font-title;
        justify-content: center;
        display: block;
        align-self: center;
    }
}

.immigrant-section__digit-two {
    display: inline-block;
    font-size: 9.375rem;
}

@media (min-width:976px) {
    .community .about-content__content {
        display: flex;
        gap: 70px;
    }
}

.about__community-title {
    color: inherit;
    margin-bottom: 1em;
}

@media (min-width:976px) {
    .about__community-title {
        margin-bottom: 2em;
        font-size: 2.1875rem;
    }
}

footer {
    background-color: var(--colors-black);
    color: var(--colors-white);
    position: relative;
    overflow: hidden;
}

.header__link {
    color: currentColor;
    padding: 1em;
    display: inline-block;
    text-decoration: none;
    font-family: $font-title;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    color: var(--colors-white);

    &.dark {
        color: var(--colors-black);
    }
}

.header > div {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    transition: transform .5s ease-in-out, color .3s ease;
}

.header__link--pitch {
    border-style: solid;
    border-image-source: linear-gradient(to left, #00E28A, #4F4FFF);
    border-width: 2px;
    border-image-slice: 1;
    border-radius: 2px;
    padding: .5em 1em;
}

@media (min-width:976px) {
    .facts__services {
        display: flex;
        gap: 87px;
        padding-left: 0;
        padding-right: 0;
    }

    .facts__section h2 {
        margin-bottom: 1em;
        font-size: 3.125rem;
        text-align: left;
        color: var(--colors-black);
    }
}

.facts__services > div {
    flex-basis: 33.33%;
    flex-grow: 1;
    flex-shrink: 2;
    margin-bottom: 50px;
}

@media (min-width:976px) {
    .facts-section__astricks {
        position: absolute;
        bottom: 100px;
        right: 0;
        left: 0;
        text-align: center;
    }

    .unicorn-founders .facts__section-content {
        display: flex;
        gap: 50px;
        align-items: center;
    }
}

.facts__section-content--narrow {
    max-width: 750px;
}

.unicorn-founders .facts__section-content > div {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
}

.immigrant-founders h2 > div:first-child {
    font-size: 4.375rem;
    background: linear-gradient(96.15deg, #00E28A -2.4%, #219ED3 17.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@media (min-width:976px) {
    .immigrant-founders .facts__section-content {
        display: flex;
        gap: 50px;
    }
}

.immigrant-founders .facts__section-content > div {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
}

@media (min-width:976px) {
    .facts__title-text {
        font-size: 1.5625rem;
    }
}

.pitch__cta {
    background: linear-gradient(100.76deg, #00E28A -17.95%, #6B6BFF 126.91%);
    padding: 0.5em 2em;
    color: var(--colors-black);
    border-radius: 5px;
    font-family: $font-title;
    text-decoration: none;
    font-size: 1.25rem;
    display: block;
    text-align: center;
}

@media (min-width:976px) {
    .pitch__cta {
        display: inline;
    }
}

.pitch {
    background: url(/assets/pitch-bg.png) no-repeat, #111111;
    background-color: #111111;
    color: var(--colors-white);
}

@media (min-width:976px) {
}

.pitch__text {
    max-width: 639px;
    margin-bottom: 2.5em;
}

.pitch-lines {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    pointer-events: none;
    width: 100%;
}

@media (min-width:976px) {
    .pitch-lines {
        display: block;
    }
}

.founder {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: inherit;
    margin-bottom: 50px;
    max-width: 970px;
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width:976px) {
    .founder {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        max-width: 876px;
        flex-direction: row;
    }
}

.icon-link {
    color: currentColor;
    width: 40px;
}

.footer__link-icon {
    width: 20px;
    display: flex;
    align-items: center;
}

button[type=submit] {
    background: linear-gradient(100.76deg, #00E28A -17.95%, #6B6BFF 126.91%);
    font-family: $font-title;
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 5px;
    width: 100%;
}

@media (min-width:976px) {
    button[type=submit] {
        width: auto;
    }
}

input {
    background: transparent;
    border: 1px solid #676767;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 4px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

label {
    margin-bottom: 0.5em;
    display: block;
}

.icon-link svg {
    width: 40px;
}

@media (min-width:976px) {
    .blog-posts__list,
    .related {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 60px;
        column-gap: 57px;
        margin-bottom: 50px;
    }
}

.blog-posts__list-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.blog-posts__read-more {
    background: linear-gradient(120.31deg, #00F897 -3.5%, #3959FF 63.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: flex;
    align-items: center;
}

.blog-posts__read-more svg {
    margin-left: 0.25em;
}

.blog-posts__title {
    font-size: 1.5625rem;
    font-family: 'Poppins', sans-serif;
}

.blog-posts__introduction {
    margin-bottom: 4em;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__logo {
    text-align: center;
}

.footer__links--mobile {
    display: flex;
    position: static;
    background: none;
    transform: none;
    padding-left: 0;
    padding-right: 0;
}

.footer__links--mobile .footer__link {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

@media (min-width: 976px) {
    .footer__links--mobile {
        display: none;
    }
}

.footer-menu-button {
    background: var(--colors-black);
    color: var(--colors-white);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    border-top: 1px solid #ffffff;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    box-sizing: border-box;
    display: block;
}

@media (min-width:976px) {
    .footer-menu-button {
        display: none;
    }
}

.show {
    transform: translateY(0);
}

.footer__links-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    color: var(--colors-white);
    border: none;
    width: 40px;
}

.footer-menu-button:hover,
.footer-menu-button:focus {
    color: var(--colors-black);
    background-color: var(--colors-white);
}

.fixed-page > * {
    position: relative;
}

@media (min-width:976px) {
    .fixed-page > * {
        padding: 0;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

.blog-posts__list article {
    margin-bottom: 30px;
}

@media (min-width:976px) {
    .blog-posts__list article {
        margin-bottom: 0;
    }

    .index-page {
        overflow: hidden;
    }
}

.index-page .header__link-logo {
    display: none;
}

.index-page .header {
    justify-content: flex-end;
}

.facts-track {
    text-align: center;
}

@media (min-width:976px) {
    .facts-track {
        text-align: left;
    }
}

.immigrant-section {
    flex-direction: column;
    padding-bottom: 0;
}

.immigrant-section .facts__section-body-content {
    text-align: center;
    margin-bottom: 50px;
}

@media (min-width:976px) {
    .immigrant-section__title-text-one {
        grid-area: 2 / 1;
    }
}

.immigrant-section .facts__title-text {
    display: block;
    font-size: 1.25rem;
    text-align: center;
}

@media (min-width:976px) {
    .immigrant-section .facts__title-text {
        text-align: left;
    }
}

.immigrant-section .facts__title-two {
    background: linear-gradient(120.31deg, #00F897 -3.5%, #3959FF 143.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: $font-title;
    margin-top: 50px;
    margin-bottom: 0;
}

@media (min-width:976px) {
    .immigrant-section .facts__title-two {
        font-size: 8.75rem;
        margin-top: 0;
    }
}

@media (min-width:976px) {
    .immigrant-founders h2 > div:first-child {
        font-size: 7.5rem;
    }
}

.graph-label {
    font-size: 0.9375rem;
    text-align: center;
}

.immigrant-founders .facts__title-text {
    margin-bottom: 40px;
}

.immigrant-founders h2 {
    margin-bottom: 0;
}

.unicorn-founders h2 {
    margin-bottom: 0;
}

.header__link-logo {
    display: none;
}

@media (min-width:976px) {
    .header__link-logo {
        width: 150px;
        color: currentColor;
        display: block;
    }
}

.header__menu-items .header__link:not(.header__link--pitch) {
    display: none;
}

@media (min-width:976px) {
    .header {
        justify-content: space-between;
    }

    .header__menu-items .header__link:not(.header__link--pitch) {
        display: inline-block;
    }

    .header__menu-button {
        display: none;
    }
}

.header__menu-button {
    background: transparent;
    border: none;
    width: 24px;
    color: currentColor;
    padding: 0 1px;
    margin: 0 5px;
    vertical-align: middle;
}

.header__mobile-menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    bottom: 0;
    background: var(--colors-black);
    color: var(--colors-white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    margin: 0;
    z-index: 51;
    transition: transform .3s ease-in-out;
}

.header__mobile-menu a {
    color: var(--colors-white);
    font-family: $font-title;
    font-size: 2.1875rem;
    text-decoration: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.header__mobile-menu li {
    margin: 1vw;
}

.show-mobile-menu .header__mobile-menu {
    transform: translateX(-100%);
}

.header__menu-button-close {
    width: 24px;
    background: transparent;
    border: none;
    padding: 0;
    color: var(--colors-white);
    position: absolute;
    top: 35px;
    right: 20px;
}

.graph-label-x {
    text-align: center;
    margin: 0;
}

.graph-label-y {
    text-align: left;
    max-width: 121px;
    margin-bottom: 0;
}

.europe-founder-graph__labels--bottom {
    max-width: 420px;
    margin-left: auto;
}

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
    margin-top: 40px;
}

@media (min-width:976px) {
    .portfolio-items {
        grid-template-columns: repeat(5, 1fr);
        gap: 50px;
    }
}

@media (min-width:976px) {
    .community {
        text-align: left;
    }
}

.community .about-content__content > div:not(:last-child) {
    margin-bottom: 50px;
}

@media (min-width:976px) {
    .community .about-content__content > div {
        margin-bottom: 0 !important;
        max-width: 33.33%;
    }
}

#intro {
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(115.49deg, #03170F -3.76%, #045546 109.62%);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-color: #111111;
}

#intro.add-background:after {
    content: '';
    background: var(--colors-white);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: .3s;
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.founder .about-content__content {
    margin-bottom: 50px;
}

@media (min-width:976px) {
    .founder .about-content__content {
        margin-bottom: 0;
    }
}

.about-heading__name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    font-size: 2.1875rem;
}

@media (min-width:976px) {
    .founder .about-heading__name .icon-link {
        display: none;
    }
}

.about__social-row {
    display: none;
}

@media (min-width:976px) {
    .about__social-row {
        display: block;
    }
}

.line-portfoli-about {
    display: none;
}

.line-portfoli-about--mobile {
    width: 100vw;
}

@media (min-width: 976px) {
    .line-portfoli-about {
        position: absolute;
        right: 0;
        z-index: 1;
        bottom: 0;
        width: 805px;
        display: block;
    }

    .line-portfoli-about--mobile {
        display: none;
    }
}

.about__line-about {
    margin-inline: -20px;
    pointer-events: none;
}

@media (min-width:976px) {
    .about__line-community-faq {
        position: absolute;
        z-index: 1;
        bottom: 0;
        display: block;
    }

    .footer__links-close-button {
        display: none;
    }

    .about__line-about {
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
        margin-inline: auto;
    }
}

.about__line-about path {
    stroke-width: 10;
}

@media (min-width:976px) {
    .about__line-about path {
        stroke-width: 5;
    }
}

.blog-post__back {
    margin-bottom: 1em;
    color: currentColor;
    text-decoration: none;
}

@media (min-width:1024px) {
    .blog-post__back {
        position: absolute;
        left: -100px;
        top: 15px;
    }
}

.community-pinned-wrapper .content-wrapper {
    padding-top: 0;
    padding-bottom: 0;
}

@media (min-width:976px) {
    .line-immigrant-unicorn-founders {
        display: none;
    }
}

.line-immigrant-unicorn-founders {
    width: 100vw;
}

.line-portfoli-about path {
    stroke-width: 10;
}

@media (min-width:976px) {
    .line-portfoli-about path {
        stroke-width: 5;
    }
}

.about__line-community-faq {
    display: none;
}

@media (min-width:976px) {
    .about__line-community-faq {
        display: block;
    }
}

.pitch-lines--mobile {
    display: block;
    top: 0;
    position: static;
}

@media (min-width:976px) {
    .pitch-lines--mobile {
        display: none;
    }
}

.pitch-lines--bottom {
    bottom: 0;
    top: auto;
}

@media (min-width:976px) {
    .pitch-lines--bottom {
        left: 0;
        width: 100%;
    }
}

.footer__link--external {
    display: none;
}

@media (min-width:976px) {
    .footer__link--external {
        display: flex;
    }
}

.facts {
    width: 100vw;
    position: relative;
}

.portfolio {
    background-color: var(--colors-black);
    color: var(--colors-white);
}

.header.hide > div {
    transform: translateY(-100%)
}

.header.hide:hover > div {
    transform: translateY(0)
}

.founder__pinned-wrapper {
    background-color: var(--colors-black);
    padding: 0 20px;
    color: var(--colors-white);
}

.community-pinned-wrapper {
    background-color: var(--colors-white);
    color: var(--colors-black);
    padding-top: 70px;
}

@media (min-width:976px) {
    .community-pinned-wrapper {
        padding-top: 0;
    }
}

main {
    overflow: hidden;
    min-height: 100vh;
}

.mouse-icon {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;

    &::before {
        position: absolute;
        top: 10px;
        left: 50%;
        content: '';
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: #fff;
        border-radius: 100%;
        box-sizing: border-box;
    }
}

.scroll-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 60px;
    color: var(--colors-white);
    text-decoration: none;
}

.scroll-down .chevron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll-down .chevron:nth-child(1) {
    transform: translate(-50%, -120%);
}

.scroll-down .chevron:nth-child(2) {
    transform: translate(-50%, -100%)
}

.scroll-down .chevron:nth-child(4) {
    transform: translate(-50%, 0%)
}

.scroll-down .chevron svg {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
}

.scroll-down div:nth-child(2) svg {
    animation-name: scale-up;
}

.scroll-down div:nth-child(3) svg {
    animation-name: scale-down;
}

.scroll-down div:nth-child(4) svg {
    animation-name: dissapear-down;
}

.scroll-down div:nth-child(1) svg {
    animation-name: appear-up;
}

@keyframes scale-up {
    0% {
        scale: .8;
        opacity: .5;
    }

    100% {
        scale: 1;
        transform: translateY(12px);
        opacity: 1
    }
}

@keyframes scale-down {
    0% {
        scale: 1;
        opacity: 1;
    }

    100% {
        scale: .8;
        transform: translateY(15px);
        opacity: .5
    }
}

@keyframes dissapear-down {
    0% {
        scale: .8;
        opacity: .5;
    }

    100% {
        scale: 0;
        transform: translateY(15px);
        opacity: 0
    }
}

@keyframes appear-up {
    0% {
        scale: 0;
        opacity: 0
    }

    100% {
        scale: .8;
        transform: translateY(5px);
        opacity: .5
    }
}

.blog-page,
.post-page {
    background: url(/assets/page-background.jpg) no-repeat top center/contain, var(--colors-white);
}

.blog-posts,
.blog-post {
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

@media (min-width:976px) {
    .blog-posts,
    .blog-post {
        margin-top: 150px;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        max-width: 1020px;
    }

    .blog-post {
        max-width: 720px;
    }
}

.facts__section-services {
    padding-top: 70px;
}

@media (min-width:976px) {
    .facts__section {
        max-width: 100vw;
        text-align: left;
        padding-top: 0;
    }
}

.nav__button.previous {
    color: #00E28A;
}

.nav__button span {
    position: absolute;
    left: 30px;
    white-space: nowrap;
    top: -3px;
    opacity: 0;
    transform: translateX(-10px);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.nav__list:hover .nav__button span {
    transform: translateX(0);
    opacity: 1;
}

.faq {
    background-color: var(--colors-white);
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width:976px) {
    .faq__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 25vh;
    }
}

.about-content__content h4 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.pitch h2 {
    color: var(--colors-white);
    font-size: 1.75rem;
}

@media (min-width:976px) {
    .pitch h2 {
        font-size: 2.1875rem;
    }
}

.facts__services h3 {
    color: var(--colors-black);
}

.portfolio__content h2 {
    color: var(--colors-white);
}

@media (min-width:976px) {
    .portfolio__content h2 {
        font-size: 2.1875rem;
    }
}

.about-heading__name {
    color: var(--colors-white);
    font-size: 2.1875rem;
}

.faq-line {
    display: none;
}

@media (min-width: 976px) {
    .faq-line {
        left: 0;
        bottom: 0;
        position: absolute;
        display: block;
    }
}

.faq__content h2 {
    font-size: 2.1875rem;
}

.pitch .content-wrapper {
    max-width: 709px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

article p {
    margin-top: 0;
}

.post-thumbnail {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.about-line--top {
    display: none;
}

@media (min-width:976px) {
    .about-line--top {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 362px;
        display: block;
        pointer-events: none;
    }

    .related {
        display: grid;
        gap: 57px;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 3em;
    }

    .related__title {
        font-size: 2.1875rem;
        text-align: center;
        margin: 2em 0 1em;
    }

    .related h3 {
        margin: .5em 0;
    }
}

.related__item img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.related__content {
    margin-bottom: 1em;
}

.see-all-articles {
    display: block;
    text-align: center;
    padding: .5em 2em;
    position: relative;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color .3s ease-in-out;
    background: var(--colors-white);
    color: var(--colors-black);
    font-family: $font-title;
    width: 209px;
    margin: 1em auto;
    font-size: 1.25rem;

    &:after {
        content: '';
        z-index: -1;
        background-image: linear-gradient(238deg, rgb(0, 226, 138) 0%, rgb(134, 134, 252) 100%);
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
        border-radius: 5px;
    }
}

.facts__services {
    padding-left: 65px;
    padding-right: 65px;
}

@media (min-width:976px) {
    .facts__services {
        padding-left: 0;
        padding-right: 0;
    }
}

.community-pinned-wrapper .about-content {
    padding-left: 65px;
    padding-right: 65px;
}

.faq .faq__list {
    text-align: left;
}

#footer form {
    margin-bottom: 1em;
}

@media (min-width:976px) {
    #footer form {
        margin-bottom: 0;
    }
}

.honey-pot.hide {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

footer input {
    color: var(--color-white);
}

form .success-message {
    background-color: #28ab12;
    padding: 0.25em 0.5em;
    border-radius: 5px;
}

form .error-message {
    background-color: #d71212;
}

.status-message {
    display: none;
    border-radius: 5px;
    padding: 0.25em 0.5em;
}

.faq__list .faq__list-content p {
    margin-top: .5em;
}

.faq__button:hover {
    cursor: pointer;
}

@media (min-width:976px) {
    .immigrant-section__heading-text,
    .unicorn-founders h2 {
        font-size: 2.8125rem;
    }
}