modules = ["bun-1.1", "nodejs-20", "ruby-3.2.2", "web"]
run = "bundle exec jekyll serve"

[nix]
channel = "stable-24_05"
packages = ["ruby_3_2", "rubyPackages.sass"]

[deployment]
run = ["sh", "-c", "bundle exec jekyll serve"]

[[ports]]
localPort = 4000
externalPort = 80
exposeLocalhost = true
